{% extends 'layout_panel.html' %}
{% load static %}

{% block title %}Registrar Reclamación - ZuluAris CRM{% endblock %}

{% block content %}
<section class="panel-formulario-container">
    <div class="panel-formulario-card">
        <h2 class="titulo-seccion">Registrar nueva reclamación</h2>
        <p class="descripcion-seccion">Completa los datos de la reclamación asociada a un cliente y una póliza.</p>

        <form method="POST" class="panel-formulario">
            {% csrf_token %}

            <div class="grupo-doble">
                <div class="form-group">
                    <label for="cliente">Cliente*</label>
                    <select name="cliente" id="cliente" required>
                        <option value="">Selecciona un cliente</option>
                        {% for cliente in clientes %}
                            <option value="{{ cliente.dni }}">{{ cliente.nombre }} - DNI: {{ cliente.dni }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="poliza">Póliza asociada*</label>
                    <select name="poliza" id="poliza" data-url="{% url 'polizas_por_cliente' 0 %}" required>
                        <option value="">Seleccione un cliente primero</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="descripcion">Descripción* </label>
                <input name="descripcion" id="descripcion" rows="4"
                    placeholder="Describe brevemente el motivo o detalle de la reclamación..." required></input>
            </div>

            <div class="acciones-formulario">
                <button type="submit" class="btn-guardar">Guardar reclamación</button>
                <a href="{% url 'reclamaciones' %}" class="btn-cancelar">Cancelar</a>
            </div>
        </form>
    </div>
</section>
<script src="{% static 'js/polizas_cliente.js' %}"></script>
{% endblock %}
