{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SURA CRM</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/globalstyles.css' %}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<!-- Mensajes de Django -->
{% if messages %}
<div class="messages-container">
    {% for message in messages %}
        <div class="message {{ message.tags }}">
            <span class="icon">
                {% if message.tags == "success" %}✅{% elif message.tags == "error" %}❌{% elif message.tags == "warning" %}⚠️{% else %}ℹ️{% endif %}
            </span>
            <span class="text">{{ message }}</span>
            <button class="close-message">&times;</button>
        </div>
    {% endfor %}
</div>
{% endif %}

<body>
    <div class="container">
        <aside class="sidebar sidebar-admin">
            <div class="logo">SURA CRM</div>
            <nav>
                <ul>
                    <li><a href="/resumen/">Resumen</a></li>
                    <li><a href="/gestionar/">Gestionar pólizas</a></li>
                    <li><a href="/client_form/">Ingresar Cliente</a></li>
                    <li><a href="{% url 'gestionar_datos' %}">Base de Datos</a></li>
                    <li><a href="{% url 'upload_file' %}">Subir Datos</a></li>
                </ul>
            </nav>
        </aside>

        <main class="main-content">
            

            <section class="content">
                {% block content %}
                {% endblock %}
            </section>
        </main>
    </div>

    <script src="{% static 'js/messages.js' %}"></script>
</body>
</html>
